[user]
	name = {{ .git_name }}
	email = {{ .git_email }}
	signingkey = {{ .git_signingkey }}
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[diff]
    tool = nvim_difftool
[difftool "nvim_difftool"]
    cmd = nvim -c \"packadd nvim.difftool\" -c \"DiffTool $LOCAL $REMOTE\"
